<meta name="description" content="Decentralized, digital, and without barriers. One decentralized marketplace for everything.">
<!-- <base href="https://s3-us-west-1.amazonaws.com/content.company.com/"> -->

<!-- GENERAL -->
<meta http-equiv="cleartype" content="on">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="HandheldFriendly" content="true">
<meta name="msapplication-tap-highlight" content="no">
<meta name="format-detection" content="telephone=no">
<meta name="skype_toolbar" content="skype_toolbar_parser_compatible">

<!-- ICONS -->
<link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="manifest.json">
<link rel="mask-icon" href="safari-pinned-tab.svg" color="#fa0096">
<meta name="apple-mobile-web-app-title" content="AXEL by StoAmigo">
<meta name="application-name" content="AXEL by StoAmigo">
<meta name="theme-color" content="#ffffff">

<!-- FACEBOOK OPEN GRAPH -->
<meta property="og:title" content="AXEL by StoAmigo"/>
<meta property="og:site_name" content="AXEL by StoAmigo"/>
<meta property="og:url" content="https://www.axel.org"/>
<meta property="og:locale" content="en_US"/>
<meta property="og:type" content="website"/>
<meta property="og:description" content="Decentralized, digital, and without barriers. One decentralized marketplace for everything.">
<meta property="og:image" content="assets/social/facebook-banner.jpg">
<meta property="og:image:width" content="1200"/>
<meta property="og:image:height" content="630"/>

<!-- TWITTER CARD -->
<meta name="twitter:title" content="AXEL by StoAmigo"/>
<meta name="twitter:description" content="Decentralized, digital, and without barriers. One decentralized marketplace for everything.">
<meta name="twitter:image" content="assets/social/twitter.jpg">
<meta name="twitter:site" content="@stoamigo"/>
<meta name="twitter:card" content="Decentralized, digital, and without barriers. One decentralized marketplace for everything."/>

<!-- G+ -->
<meta itemprop="name" content="AXEL by StoAmigo"/>
<meta itemprop="description" content="Decentralized, digital, and without barriers. One decentralized marketplace for everything.">
<meta itemprop="image" content="assets/social/googleplus.jpg">


<script>
	
	/* -------------------------------------------------- */
	/* CREATE SCRIPT ELEMENTS
	/* -------------------------------------------------- */

	// GOOGLE ANALYTICS (GTAG)
	var tagGA = document.createElement("script");
		tagGA.src = "https://www.googletagmanager.com/gtag/js?id=GTM-W6B23N5";

		//tgGA.setAttribute("defer","");
		tagGA.setAttribute("async","");

	var scriptGA = document.getElementsByTagName("script")[0];
		scriptGA.parentNode.insertBefore(tagGA, scriptGA);
	

	// WEBFONT LOADER API
	var tagWebfontLoader = document.createElement("script");
		tagWebfontLoader.src = "https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js";

		//tagWebfontLoader.setAttribute("defer","");
		tagWebfontLoader.setAttribute("async","");

	var scriptWebfontLoader = document.getElementsByTagName("script")[0];
		scriptWebfontLoader.parentNode.insertBefore(tagWebfontLoader, scriptWebfontLoader);
	
	
	
	/* -------------------------------------------------- */
	/* WEBFONT LOADER
	/* -------------------------------------------------- */
	
	WebFontConfig = {
		loading: function() {},
		active: function() {},
		inactive: function() {},
		fontloading: function(familyName, fvd) {},
		fontactive: function(familyName, fvd) {},
		fontinactive: function(familyName, fvd) {},
		google: { families: ["Comfortaa:300,400,700",
							 "Open+Sans:400,400i,600,600i,700,700i,800"
							]
		}
	};
	
	
	/* -------------------------------------------------- */
	/* GOOGLE ANALYTICS (GTAG)
	/* -------------------------------------------------- */
	
	window.dataLayer = window.dataLayer || [];

	function gtag() {
		"use strict";

		dataLayer.push(arguments);
	}

	gtag("js", new Date());

	gtag("config", "GTM-W6B23N5");

	
</script>
